{% extends "analytics/base.html" %}
{% block title %}Pie{% endblock %}
{% block content %}
    <p><h1>Tweets Data Pie Chart Based on Location</h1>
     <div style="width: 100%;">
        <div style="float:left; width: 50%">
            <a href="{% url "post_search" %}">Search Inside Tweets</a></p>
        </div>
        <div style="float:right; margin-right: 600px">
            <a href="{% url "daily_graph" %}">HOME</a></p>
        </div>
    </div>
    <img src="data:image/png;base64,{{ location_wise|safe }}">
{% endblock %}
